
.fkpovp9 {
    opacity: 0 !important;
}

.f17cfskt {
    font-size: 1vw !important;
    opacity: 0.2 !important;
}

.f1plhgbb {
    font-size: 0.8vw !important;
    opacity: 0.2 !important;
}

.f1oe4mb3 {
    opacity: 0 !important;
}

.f11xjbzd {
    opacity: 0.2 !important;
}