/* Gradient */
.f1makowq {
    opacity: 0 !important;
}

/* Gradient !Deprecated (Maybe) */
.fkpovp9 {
    opacity: 0 !important;
}

/* Heading */
.f17cfskt {
    font-size: 1vw !important;
    opacity: 0.2 !important;
}

/* Sub-Heading */
.f1plhgbb {
    font-size: 0.8vw !important;
    opacity: 0.2 !important;
}

/* Controls */
.f1oe4mb3 {
    opacity: 0 !important;
}

/* Screen Side Controls (Maybe) */
.f11xjbzd {
    opacity: 0.2 !important;
}